@media(max-width:320px){
   body{
        width: 10%;
    }
    .barra-lateral{
        position: fixed;
    }

    .encabezado{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .email--{
        font-size: xx-small;
    }
    .pie{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30%;
    }
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-content{
        padding-top: 40%;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 30px;
    }

    .hero img{
        padding-top: 40%;
    }

    .hero button{
    }

    .works{
        flex-direction: column;
        justify-content: flex-start;
    }
    .works button{
    }
    .AES{
        align-items: center;
        justify-content: center;
    }

    .skills img{
    }

    .AES .ES .education{
    }

    .servicios{
    }

    .contacto{
        flex-direction: column;
        align-items: center;
    }

    .vias-contacto{
    }

}

@media(max-width:480px){
    .barra-lateral .encabezado{
        justify-content: center;
        align-items: center;
        margin-right: 30%;
    }
    .pie .email--{
        font-size: x-small;
    }
    .barra-lateral .pie{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80%;
    }
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-left: 50%;
    }
    .hero{
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .hero img{
        margin-top: 50%;
        margin-right: 20%;
    }

    .hero button{
        width: 70%;
        margin-right: 70%;
    }

    .works{
        margin-left: 9%;
        align-items: center;
        align-content: center;
        width: 80%;
    }
    .works img{
      height: 250px;
      width: 250px;
      margin-left: -1.7%;
    }
    .works button{
        width: 90%;
        margin-left: 15%;
    }
    .AES .aboutme{
        align-items: center;
        justify-content: center;
        margin-left: 30%;
    }
    .AES .ES{
        flex-direction: column;
        align-items: center;
    }

    .AES .ES .skills img{
        width: 300px;
    }

    .AES .ES .education{
        width: 80%;
        margin-left: 40%;
    }

    .servicios{
        padding-left: 20%;
    }

    .contacto{
        flex-direction: column;
        align-items: center;
        width: 120%;
        margin-left: 10%;
    }

    .contacto .vias-contacto{
        margin-left: 20%;
        width: 80%;
    }
}
@media(max-width:768px){
    .barra-lateral .encabezado{
        justify-content: center;
        align-items: center;
        margin-right: 30%;
    }
    .pie .email--{
        font-size: x-small;
    }
    .barra-lateral .pie{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50%;
    }
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-left: 50%;
    }
    .hero{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 10%;
    }

    .hero img{
        margin-top: 50%;
    }

    .hero button{
        width: 95%;
    }

    .works{
        margin-left: 9%;
        align-items: center;
        align-content: center;
        width: 80%;
    }
    .works img{
      height: 250px;
      width: 250px;
      margin-left: -1.7%;
    }
    .works button{
        width: 90%;
        margin-left: 15%;
    }
    .AES .aboutme{
        align-items: center;
        justify-content: center;
        margin-left: 30%;
    }
    .AES .ES{
        flex-direction: column;
        align-items: center;
    }

    .AES .ES .skills img{
        width: 300px;
    }

    .AES .ES .education{
        width: 80%;
        margin-left: 40%;
    }

    .servicios{
        padding-left: 20%;
    }

    .contacto{
        flex-direction: column;
        align-items: center;
        width: 120%;
        margin-left: 10%;
    }

    .contacto .vias-contacto{
        margin-left: 20%;
        width: 80%;
    }
}
@media(max-width:1024px){}
@media(max-width:1280px){}
@media(max-width:1440px){}
@media(max-width:1920px){}