body{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    display: inline-flex;
    margin: 0;
    padding: 0;
    right: 5%;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    flex-direction: row-reverse;

}

.contact{
    text-decoration: underline 2px white;
    transition: 1s;

}

.contact:hover{
    text-decoration: underline 2px #905a1b;
    cursor: pointer;

}

.services{
    text-decoration: underline 2px white;
    transition: 1s;

}

.services:hover{
    text-decoration: underline 2px #905a1b;
    cursor: pointer;

}

.about{
    text-decoration: underline 2px white;
    transition: 1s;

}

.about:hover{
    text-decoration: underline 2px #905a1b;
    cursor: pointer;

}

.portfolio{
    text-decoration: underline 2px white;
    transition: 1s;

}

.portfolio:hover{
    text-decoration: underline 2px #905a1b;
    cursor: pointer;

}


 .barra-lateral{
    position: fixed;
    margin: 0;
    padding-left: 5%;
    padding-top: 2%;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: #e6814b;
    height: 100%;
    text-align: left;
    width: 20%;
    color: white;
 }

.barra-lateral .encabezado{
    display: flex;
    align-items: center;
    padding-bottom: 120%;
}

.barra-lateral .encabezado p{
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.5px;
    font-size: large;
}

.barra-lateral .titulo{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.5px;
}

.barra-lateral i{
    padding-right: 10%;
}


.hero {
    width: 100%;
    
}




.hero h1{
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  width: 40%;
}

.hero h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    text-align: left;      /*CORREGIR TIPO DE LETRA*/
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    color: #905a1b;
  }

  .hero p{
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
  }

  button{
    border-radius: 0px;
    background-color: #e6814b;
    color: white;
    border: none;
    padding: 12px 18px;
    font-family: "Bebas Neue", sans-serif;
    transition: background 2s;
    width: 25%;
  }

  button:hover{
    background: white;
    color: #e6814b;
    cursor: pointer;
  }

 