body{
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}

nav {
    position: fixed;
    display: inline-flex;
    margin: 0;
    padding: 0;
    right: 5%;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    flex-direction: row-reverse;

}

.contact{
    text-decoration: underline 2px white;
    transition: 1s;

}

.contact:hover{
    text-decoration: underline 2px #9a652b;
    cursor: pointer;

}

.services{
    text-decoration: underline 2px white;
    transition: 1s;

}

.services:hover{
    text-decoration: underline 2px #9a652b;
    cursor: pointer;

}

.about{
    text-decoration: underline 2px white;
    transition: 1s;

}

.about:hover{
    text-decoration: underline 2px #9a652b;
    cursor: pointer;

}

.portfolio{
    text-decoration: underline 2px white;
    transition: 1s;

}

.portfolio:hover{
    text-decoration: underline 2px #9a652b;
    cursor: pointer;

}


.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20%;
    vertical-align: middle;
    float: left;
    margin-left: 65%;
    text-align: left;
}

div img{
    width: 450px;
    height: 550px;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 20%;
    right: 40%;
}

.hero h1{
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

.hero h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    text-align: left;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
  }

  .hero p{
    font-family: Arial, Helvetica, sans-serif;
  }

  button{
    border-radius: 0px;
    background-color: #e6814b;
    color: white;
    border: none;
    padding: 8px 20px;
    font-family: "Bebas Neue", sans-serif;
    transition: background 2s;
  }

  button:hover{
    background: white;
    color: #e6814b;
    cursor: pointer;
  }