body{
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    flex-direction: row-reverse;
    background-color: white;
    padding-left: 35%;
}

.contact{
    text-decoration: underline 2px white;
    transition: 1s;
}

.contact:hover{
    text-decoration: underline 2px #905a1b;
    cursor: pointer;

}

.services{
    text-decoration: underline 2px white;
    transition: 1s;
}

.services:hover{
    text-decoration: underline 2px #905a1b;
    cursor: pointer;

}

.about{
    text-decoration: underline 2px white;
    transition: 1s;

}

.about:hover{
    text-decoration: underline 2px #905a1b;
    cursor: pointer;

}

.portfolio{
    text-decoration: underline 2px white;
    transition: 1s;

}

.portfolio:hover{
    text-decoration: underline 2px #905a1b;
    cursor: pointer;

}


 .barra-lateral{
    position: fixed;
    margin: 0;
    padding-left: 5%;
    padding-top: 2%;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: #e6814b;
    height: 100%;
    text-align: left;
    width: 20%;
    color: white;
 }

.barra-lateral .encabezado{
    display: flex;
    align-items: center;
    padding-bottom: 120%;
}

.barra-lateral .encabezado p{
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.5px;
    font-size: large;
}

.barra-lateral .titulo{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.5px;
}

.pie p{
    font-family: Arial, Helvetica, sans-serif;
}

.barra-lateral i{
    padding-right: 10%;
}


.hero {
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-left: 30%;
}

.hero img{
    height: 600px;
    padding-top: 15%;
}

.hero-content{
    margin-left: 5%;
    padding-top: 10%;
}

.hero-content h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    width: 40%;
}

.hero-content h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    text-align: left;      /*CORREGIR TIPO DE LETRA*/
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    color: #905a1b;
  }

  .hero-content p{
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
  }

  button{
    border-radius: 0px;
    background-color: #e6814b;
    color: white;
    border: none;
    padding: 12px 18px;
    font-family: "Bebas Neue", sans-serif;
    transition: background 2s;
    width: 25%;
  }

  button:hover{
    background: white;
    color: #e6814b;
    cursor: pointer;
  }

 .works{
    margin-top: 15%;
    padding-left: 30%;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
 }

.works img{
    height: 450px;
    width: 450px;
    color: none;
}

.proyects{
    justify-content: center;
    margin-left: 40%;
    margin-top: 15px;
    width: 150px;
    height: 60px;
}

.AES{
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    padding-top: 10%;
}

.AES h1{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.5px;
}

.aboutme{
    width: 80%;
}

.ES{
    display: flex;
    margin-top: 5%;
}

.education{
    width: 40%;
}

.skills{
    width: 40%;
}

.skills img{
    width: 100%;
    height: 100%;
}

.servicios{
    margin-left: 30%;
    width: 100%;
    margin-top: 15%;
}

.servicios h1{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.5px;
    font-size: xx-large;
    padding: 0;
    margin: 0;
}

.servicios h2{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.5px;
    font-size: medium;
}

.uno{
    display: flex;
    align-items: baseline;
}
.dos{
    display: flex;
    align-items: baseline;
}
.tres{
    display: flex;
    align-items: baseline;
}

.listas{
    width: 30%;
    margin-top: 5%;
    padding-left: 1%;
    border: 1.5px solid #e9e8e8;
    box-shadow: 5px 5px 5px #e9e8e8;
}

.galeria{
    width: 30%;
    padding-left: 1%;
    border: 1.5px solid #e9e8e8;
    box-shadow: 5px 5px 5px #e9e8e8;
    margin-left: 2%;

}

.portafolios{
    width: 30%;
    padding-left: 1%;
    border: 1.5px solid #e9e8e8;
    box-shadow: 5px 5px 5px #e9e8e8;
    margin-top: 2%;
}

.formularios{
    width: 30%;
    padding-left: 1%;
    border: 1.5px solid #e9e8e8;
    box-shadow: 5px 5px 5px #e9e8e8;
    margin-left: 2%;
    margin-top: 2%;
}

.transiciones{
    width: 30%;
    padding-left: 1%;
    border: 1.5px solid #e9e8e8;
    box-shadow: 5px 5px 5px #e9e8e8;
    margin-top: 2%;

}

.paginas-web{
    width: 30%;
    padding-left: 1%;
    border: 1.5px solid #e9e8e8;
    box-shadow: 5px 5px 5px #e9e8e8;
    margin-left: 2%;
    margin-top: 2%;
}

.contacto{
    display: flex;
    margin-left: 30%;
    margin-top: 15%;
}

form{
    background-color: #2a1911;
    color: white;
    border: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-bottom: 10%;

}

form input{
    background-color: #2a1911;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #7c6e69;
    padding-top: 8%;
    padding-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    width: 80%;
    margin-left: 9.5%;
}

form .mensaje{
    padding-bottom: 30%;
}

form button{
    margin-top: 8%;
    margin-left: 9.5%;
    width: 81.5%;
    margin-bottom: 10%;
}

form h2{
    margin-left: 9.5%;
    margin-top: 10%;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2.5px;
}

.vias-contacto{
    margin-left: 8%;
}

